<div id="showcase">
  <h1>Welcome to TutorLink</h1>
  <h3>Making your child's tutoring time more effective!</h3>
  <%= link_to "Login", new_user_session_path, class: "button" %>
  <a href="#" class="button">Read More</a>
</div>
  <section id="section-a">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos exercitationem neque repellat, aliquam nisi adipisci ut fuga laudantium pariatur commodi id reprehenderit minus enim quo obcaecati veniam ex iste! Laudantium porro id voluptates a fuga ab atque incidunt ex rem unde fugit provident placeat doloremque sapiente reiciendis, possimus voluptatibus iste cumque enim nam inventore illo tempore perspiciatis odio! Reprehenderit at, nihil architecto quas cumque praesentium, adipisci rem impedit aliquam iure veritatis fugiat omnis asperiores blanditiis molestiae voluptas. Nulla quod facere, illo quos porro aperiam perspiciatis eum libero explicabo neque commodi magni veritatis similique nisi repellat saepe ipsam ut dolor obcaecati.</p>
    </p>
  </section>
